/* 样式小分队 */
.layout_note {
	padding: 0;
	margin: 0;
}

/* padding内边距小分队 */
.padding {
	/* 所有边 */
	padding: 1px;
	/* 上下 左右 */
	padding: 1px 2px;
	/* 上 左右 下 */
	padding: 1px 2px 3px;
	/* 顺时针 上右下左 */
	padding: 1px 2px 3px 4px;
	/* 继承父元素的属性 */
	padding: inherit;
	/* 默认值 */
	padding: initial;
	/* 不设置 如果属性属于继承属性 等同于inherit 非继承的则是initial */
	padding: unset;
}

/* flex布局小分队 */
.flex {
	/* 开启弹性布局 */
	display: flex;
	/* 项目位于容器的中心 */
	justify-content: center;
	/* 项目位于各行之前/之间/之后都留有空白的容器内(空白环绕) */
	justify-content: space-around;
  /* 项目位于各行之间留有空白的容器内 */
  justify-content: space-between;
  /* 项目位于容器的结尾 */
  justify-content: end;
  /* 从父元素继承该属性 */
  justify-content: inherit;
	/* 改变主轴方向为列(垂直显示) */
	flex-direction: column;
	/* 默认值row(水平显示) */
	flex-direction: row;
}
